/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header */
.page_head {
  display: flex;
  flex-direction: column;
}

  /* Logo */
.logo {
    max-width: 100%;
    display: block;
  }

.logo img {
  max-width: 100px;
}

/* Navbar */
.navbar_container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.navbar {
  flex: 1;
  max-width: 100%;
  display: block;
  position:fixed;
  z-index: 1;
}

header {
  display: flex;
  background-color: #dcbb9c;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  padding: 0px;
  margin: 0;
}

nav ul li a {
  display: block;
  padding: 15px;
  font-family: "Architects Daughter", cursive, sans-serif;
}

.tab {
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  height: 0;
  width: 125px;

}
.red_tab {
  border-bottom: 45px solid #ff160c;
  }


.yellow_tab {
  border-bottom: 45px solid #ffff00; 
  }


.green_tab {
border-bottom: 45px solid #aaff00;  
}

li a {
  display:inline-block;
  line-height:100%;
  margin-left: -15px;
  width:125px;
  }

  li a:hover {
    background-color:rgba(0, 0, 0, 0.2)
  }

  .active {
    border-style: ridge
  }

/* Recipe Dropdown Menu */
.recipe_menu {
  display: none;
  position: absolute;
  background-color: #FFF7BD;
  padding: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.tab:hover .recipe_menu {
  display: block;
}

.recipe_menu li {
  display: block;
}

.recipe_menu li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
}

.recipe_menu li a:hover {
  background-color: #FAC8CD;
}

/* Title */
.title {
  margin-left: 10px;
  font-family: "Architects Daughter", cursive, sans-serif;
  font-size: 2rem;
  position:relative;
}


/* Home Body */

.body {
  display: flex;
  background-color: #dcbb9c;
}

.body img {
  padding:2rem;
  margin:2rem;
}

.body h2 {
  width:80%;
  font-size:1.5rem;
  text-align: center;
}

.body p {
  width:80%;
  text-align: center;
  position: relative;
}

.left {
  float:left;
  width:30%;
  padding:2rem;
  min-width: 500px;
}

.middle {
  width:30%;
  padding:2rem;
  min-width: 500px;
}

.right {
  float:right;
  width:30%;
  padding:2rem;
  min-width: 500px;
}



/*Footer*/
footer {
  background-color: #dcbb9c;
  width:100%
}

@media screen and (max-width: 768px) {
.body {
  flex-direction:column;
}

.logo {
  display: none;
}
}
 