/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Background*/

body {
  background-color: #dcbb9c;
}

/* Header */
.page_head {
  display: flex;
  flex-direction: column;
}

/* Navbar */
.navbar_container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.navbar {
  flex: 1;
  max-width: 100%;
  display: block;
  position:fixed;
  z-index: 1;
}

header {
  display: flex;
  background-color: #dcbb9c;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  padding: 0px;
  margin: 0;
}

nav ul li a {
  display: block;
  padding: 15px;
  font-family: "Architects Daughter", cursive, sans-serif;
  color: inherit;
  text-decoration: inherit;  
}

.tab {
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  height: 0;
  width: 125px;

}
.red_tab {
  border-bottom: 45px solid #ff160c;
  }


.yellow_tab {
  border-bottom: 45px solid #ffff00; 
  }


.green_tab {
border-bottom: 45px solid #aaff00;  
}

.navbar a {
  display:inline-block;
  line-height:100%;
  margin-left: -15px;
  width:125px;
  }

  .navbar a:hover {
    background-color:rgba(0, 0, 0, 0.2)
  }

  .active {
    border-style: ridge;
  }

/* Recipe Dropdown Menu */
.recipe_menu {
  display: none;
  position: absolute;
  background-color: #FFF7BD;
  padding: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.tab:hover .recipe_menu {
  display: block;
}

.recipe_menu li {
  display: block;
}

.recipe_menu li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
}

.recipe_menu li a:hover {
  background-color: #FAC8CD;
}

/* Styling for header text */

.headertext {
  display:block;
  margin-top: 4rem;
  margin-left:4rem;
  margin-right:4rem;
  font-family: "Architects Daughter", cursive, sans-serif;
  text-align: center;
}

/* Home Body */

.body img {
  display:block;
  width: 400px;
  height:400px;
  padding:2rem;
  margin: 0 auto;
}

.body h2 {
  font-size:1.5rem;
  text-align: center;
  padding: 0 1rem;
  margin-bottom: 1rem;
}

.body p {
  width:80%;
  text-align: center;
  max-width:400px;
  margin: 0 auto;
  padding: 0 1rem;
}

.body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.margin_top {
  margin-top: 4rem;
}

.bottom_padding {
  display:block;
  height:5rem;
}

/*Footer*/

footer {
  background-color: #dcbb9c;
  width:100%;
  position:fixed;
  bottom:0px
}

/*Recipe*/

.float_left {
  float: left;
  padding:2rem;
}

#recipe_layout {
  display:flex;
  flex-direction: column;
}

#recipe_layout img {
  width:400px;
  height:400px;
}

.recipe_text {
  padding:2rem;
  margin-left: 2rem;
}

ol {
  list-style: inside;
}

ol li {
  font-size: 1.2rem;
  margin-left: 2rem;
  padding:.5rem;
  margin-top: 1rem;
}

.recipe_layout a {
  width:10rem;
  color:blue;
}

#carrot_lox {
  margin-top: 2rem;
}

.recipe_layout a :hover {
  color:#ff160c
}

#carrot_lox:target:before {
  content: '';
  display: block;
  height: 20px;
}

.suggestions {
  width:640px;
  height:800px;
  margin-top: 2rem;
}

@media screen and (max-width: 600px) {

.float_left {
  float:none;
}

.body {
  display:flex;
  flex-direction:column;
  justify-content: center;
}

.body img {
  margin-right:auto;
  margin-left: auto;
}

.tab:hover .recipe_menu {
  display: none;
}

}

@media screen and (min-width: 1000px) {
  .body {
    justify-content: space-around;
  }
}

@-moz-document url-prefix() {
  .active {
    border-style:solid;
  }
}